.row
  .highlight.col-md-7
    %h2#qNumber Q: 1
    %p#question Do You Know Barrac Obama?
    %p
      %a.btn.btn-primary.btn-default{href: "#", role: "button"} Yes
      %a.btn.btn-primary.btn-default{href: "#", role: "button"} No
  .highlight.col-md-4
    %h5 Your General Knowledge Estimated
    %p#gKwldgEst 0 - 100%
  .highlight.col-md-4
    %h5 Compare to others
